div.box-header.with-border.text-center.alamat.mine{
	padding:0px;
}
div.form-group.alamat.mine{
	margin-bottom:0px;
}
label.alamat.mine{
	margin:0px;
}
div.col-md-9.alamat.mine{
	padding: 0px;
}
div.col-md-3.alamat.mine{
	padding: 0px;
}